    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ route.title|striptags }} - {{ helper('settings').get('site_name') }}</title>
    <meta name="description" content="{{ route.description }}"/>
    {{ route.meta|raw }}
    {% if route.canonical %}
      <link rel="canonical" href="{{ route.canonical }}"/>
    {% endif %}
    {{ helper('settings').get('meta')|raw }}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
