{{ include("@views/admin/update.html.twig") }}

<div class="panel panel-default">
  <div class="panel-heading"><strong> <span>Product Options</span></strong></div>
  <div class="panel-body">
    {{ include(["product_options/admin-toolbar.html.twig", "admin-toolbar.html.twig"], {"model":"product_options", "dialog":true}) }}
    {{ helper("displays").render("ProductOptionsGrid", {"product_types_id":id, "attributes":{"dialog":"product_options_form"}}) }}
  </div>
</div>
<div id="product_options_dialog" data-dojo-type="starbug/form/Dialog" data-dojo-id="product_options_form" data-dojo-props="url:'{{ helper("url").build("admin/product_options/") }}', callback:function(){product_options_grid.refresh();}, get_data:{'product_types_id':'{{ id }}'}, post_data:{'product_options[product_types_id]':'{{ id }}'}"></div>