{{ include("@views/admin/update.html.twig") }}

<div class="panel panel-default">
  <div class="panel-heading"><strong> <span>Product Options</span></strong></div>
  <div class="panel-body">
    {{ include(["product_options/admin-toolbar.html.twig", "admin-toolbar.html.twig"], {"model":"product_options", "dialog":true}) }}
    {{ helper("displays").render("ProductOptionsGrid", {"product_types_id":id, "attributes":{"dialog":"product_options_form"}}) }}
  </div>
</div>
<div id="product_options_dialog" data-dojo-type="sb/modal/Form" data-dojo-id="product_options_form" data-dojo-props="url:'{{ helper("url").build("admin/product-options/") }}', title: 'New Product Option', callback:function(){product_options_grid.refresh();}, urlParams:{'product_types_id':'{{ id }}'}, formData:{'product_types_id':'{{ id }}'}"></div>