{% extends "panel."~ route.getOption("format")|default("html") ~ ".twig" %}

{% if listHeader is empty and model is not empty %}
  {% set listHeader = helper("schema").getTable(model).getOption("label") %}
{% endif %}
{% if listParams is empty %}
  {% set listParams = {} %}
{% endif %}
{% if dialog is not empty %}
  {% if listParams.attributes is empty %}
    {% set listParams = listParams|merge({"attributes": {}}) %}
  {% endif %}
  {% set listParams = listParams|merge({"attributes": listParams.attributes|merge({"dialog": model ~ "_form"})}) %}
{% endif %}
{% block title %}{{ listHeader }}{% endblock %}
{% block body %}
    {{ include([model ~ "/admin-toolbar.html.twig", "admin-toolbar.html.twig"]) }}
  {{ helper("displays").render(grid ?? ((model|title) ~ "Grid"), listParams) }}
{% endblock %}

{% block after %}
  {% if dialog %}
    {% if form_header is empty and model is not empty %}
      {% set form_header = "New " ~ helper("schema").getTable(model).getOption("singular_label") %}
    {% endif %}
    <div id="{{ model }}_dialog" data-dojo-type="sb/modal/Form" data-dojo-id="{{ model }}_form" data-dojo-props="url:'{{ request.getUri().getPath() }}/', title:'{{ form_header }}', callback:function(){ {{ model }}_grid.refresh()}"></div>
  {% endif %}
{% endblock %}