{% set attributes = {} %}
{% set class = [] %}
{% set link_attributes = {} %}
{% set active = false %}

{# add first class for first item in list #}
{% if link.position == 0 %}
  {% set class = class|merge(["first"]) %}
{% endif %}

{# handle href #}
{% if link.href is not empty %}
  {% set absolute = (link.href starts with "http") %}
  {% if absolute %}
    {% set link_attributes = link_attributes|merge({"href": link.href}) %}
  {% else %}
    {% set link_attributes = link_attributes|merge({"href": helper("url").build(link.href)}) %}
    {% set parts = link.href|split("/") %}
    {% set active = true %}
    {% for part in parts %}
      {% if request.getComponent(loop.index0) != part %}
        {% set active = false %}
      {% endif %}
    {% endfor %}
    {% if active %}
      {% set class = class|merge(["active"]) %}
    {% endif %}
  {% endif %}
{% endif %}

{# set the link target #}
{% if link.target is not empty %}
  {% set link_attributes = link_attributes|merge({"target": link.target}) %}
{% endif %}

{% set attributes = attributes|merge({"data-menu-id": link.id, "data-parent": link.parent}) %}

{% if link.template is not empty %}
  {% set class = class|merge([link.template]) %}
{% endif %}

{# serialize the array of classes #}
{% if class is not empty %}
  {% set attributes = attributes|merge({"class": (class|join(" "))}) %}
{% endif %}

{% if link.template is empty %}
  <li{{ helper("filter").attributes(attributes)|raw }}>
    <a{{ helper("filter").attributes(link_attributes)|raw }}>
      {% if link.icon is not empty %}
        <i class="fa fa-lg fa-fw {{ link.icon }}"></i>
      {% endif %}
      <span class="menu-item-parent">{{ link.content }}</span>
    </a>
    {% if link.children is not empty %}
      <ul style="display:none">
        {% for child in link.children %}
          {{ include("menu-link.html.twig", {"link": child}) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% elseif link.template == "divider" %}
  <li{{ helper("filter").attributes(attributes)|raw }}></li>
{% else %}
  {{ include(link.template ~ ".html.twig") }}
{% endif %}
