
  {% for section, colors in sections %}
    <article class="mt5">
      <h3 class="f8 ttu fw6 mt0 mb3 bb pb2">{{ section }}</h3>
      <div class="row">
        {% for color, className in colors %}
          <div class="col-6 col-4-m col-2-l mb3">
            <div class="h3 relative flex items-center justify-center br1 br--top overflow-hidden bt br bl b--black-20 swatch">
              <div class="absolute top-0 right-0 bottom-0 left-0 bg-checkered"></div>
              <div class="absolute top-0 right-0 bottom-0 left-0 bg-{{ className }}"></div>
            </div>
            <div class="bg-white flex-auto lh-copy pl2 pv1 bb br bl b--black-20 br1 br--bottom">
              <b class="db truncate dark-gray f8">{{ className }}</b>
              <code class="db f8 truncate mid-gray" title="{{ color }}">{{ color }}</code>
            </div>
          </div>
        {% endfor %}
      </div>
    </article>
  {% endfor %}