<div class="page layout--{{ response.layout }}">
  <header class="pa4 flex-ns justify-between-ns items-center-ns">
    <h1 class="mt0 mb0-ns tc"><a class="link green dim" href="{{ helper("url").build("") }}">{{ helper("settings").get("site_name") }}</a></h1>
    <nav id="navigation">
      <ul class="list pl0 ma0 flex justify-center items-center">
        <li><a class="active btn white bg-green bn link" href="{{ helper("url").build("") }}">Home</a></li>
        {% if helper("user").loggedIn() %}
          <li class="ml2"><a class="btn green bn hover-bg-green hover-white link" href="{{ helper("url").build("logout") }}">Log Out</a></li>
        {% else %}
          <li class="ml2"><a class="btn green bn hover-bg-green hover-white link" href="{{ helper("url").build("login") }}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <div id="content" class="pa4">
    {{ include("layout.html.twig") }}
  </div>
</div>